{% if page.categories and page.categories.size > 0 %}
<div class="post-categories">
  {% for category in page.categories %}
    <a href="/categories/?q={{ category | slugify }}/" rel="tag">
      {{ category }}
    </a>
  {% endfor %}
</div>
{% endif %}

{% assign max_related = 6 %}
{% assign count = 0 %}
{% assign has_related = false %}

<div class="related-posts">
  <h2>Related Articles</h2>

  {% if page.categories %}

    {% for level in (5..1) %}
      {% for post in site.posts %}
        {% if post.url != page.url %}

          {% assign score = 0 %}
          {% for cat in page.categories %}
            {% if post.categories contains cat %}
              {% assign score = score | plus: 1 %}
            {% endif %}
          {% endfor %}

          {% if score == level %}

            {% assign has_related = true %}

            <div class="related-item">
              <h3>
                <a href="{{ post.url | relative_url }}">
                  {{ post.title }}
                </a>
              </h3>

              <div class="excerpt">
                {{ post.content | split: '</p>' | first | append: '</p>' }}
              </div>
            </div>

            {% assign count = count | plus: 1 %}
            {% if count >= max_related %}
              {% break %}
            {% endif %}

          {% endif %}

        {% endif %}
      {% endfor %}
    {% endfor %}

  {% endif %}

  

</div>
